<div class="wrapper">
    <!--=== Header ===-->

    <div class="header">

        <div class="container">
            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class=" dropdown-toggle" data-toggle="dropdown">
                            Home
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                        </ul>
                    </li>
                    <!-- End Home -->

                    <!-- List of Jobs -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            List of Jobs
                        </a>
                        <ul class="dropdown-menu">
                            <li class="active"><a href='@Url.Action("ListOfJobs_Edu", "Home")'>Educational</a></li>
                            <li class="active"><a href='@Url.Action("ListOfJobs_Gov", "Home")'>Government</a></li>
                            <li class="active"><a href='@Url.Action("ListOfJobs_Heal", "Home")'>Healthcare</a></li>
                            <li class="active"><a href='@Url.Action("ListOfJobs_Comm", "Home")'>Community</a></li>
                            <li class="active"><a href='@Url.Action("ListOfJobs_House", "Home")'>Housing</a></li>
                            <li class="active"><a href='@Url.Action("ListOfJobs_Bus", "Home")'>Business</a></li>
                        </ul>
                        <!-- End List of Jobs -->

                        <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>
                    </li>
                    <!-- End Search Block -->

                </ul>

            </div> <!--/end container-->
        </div> <!--/navbar-collapse-->
    </div> <!--=== End Header ===-->

</div> <!--end wrapper -->
